@font-face {
  font-family: 'open_sansbold';
  src: url('fonts/opensans_bold/OpenSans-Bold-webfont.eot');
  src: url('fonts/opensans_bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/opensans_bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
    src: url('fonts/opensans_regular/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
    src: url('fonts/opensans_semibold/OpenSans-Semibold-webfont.eot');
    src: url('fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'liberation_monobold';
    src: url('fonts/liberationmono_bold_cyrillic/LiberationMono-Bold-webfont.eot');
    src: url('fonts/liberationmono_bold_cyrillic/LiberationMono-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationmono_bold_cyrillic/LiberationMono-Bold-webfont.woff') format('woff'),
         url('fonts/liberationmono_bold_cyrillic/LiberationMono-Bold-webfont.ttf') format('truetype'),
         url('fonts/liberationmono_bold_cyrillic/LiberationMono-Bold-webfont.svg#liberation_monobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'liberation_monobold_italic';
    src: url('fonts/liberationmono_bolditalic_cyrillic/LiberationMono-BoldItalic-webfont.eot');
    src: url('fonts/liberationmono_bolditalic_cyrillic/LiberationMono-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationmono_bolditalic_cyrillic/LiberationMono-BoldItalic-webfont.woff') format('woff'),
         url('fonts/liberationmono_bolditalic_cyrillic/LiberationMono-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/liberationmono_bolditalic_cyrillic/LiberationMono-BoldItalic-webfont.svg#liberation_monobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'liberation_monoitalic';
    src: url('fonts/liberationmono_italic_cyrillic/LiberationMono-Italic-webfont.eot');
    src: url('fonts/liberationmono_italic_cyrillic/LiberationMono-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationmono_italic_cyrillic/LiberationMono-Italic-webfont.woff') format('woff'),
         url('fonts/liberationmono_italic_cyrillic/LiberationMono-Italic-webfont.ttf') format('truetype'),
         url('fonts/liberationmono_italic_cyrillic/LiberationMono-Italic-webfont.svg#liberation_monoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'liberation_monoregular';
    src: url('fonts/liberationmono_regular_cyrillic/LiberationMono-Regular-webfont.eot');
    src: url('fonts/liberationmono_regular_cyrillic/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/liberationmono_regular_cyrillic/LiberationMono-Regular-webfont.woff') format('woff'),
         url('fonts/liberationmono_regular_cyrillic/LiberationMono-Regular-webfont.ttf') format('truetype'),
         url('fonts/liberationmono_regular_cyrillic/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'isocpeurregular';
    src: url('/wp-content/themes/responsive/fonts/isocpeur-webfont/isocpeur-webfont.eot');
    src: url('/wp-content/themes/responsive/fonts/isocpeur-webfont/isocpeur-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/responsive/fonts/isocpeur-webfont/isocpeur-webfont.woff') format('woff'),
         url('/wp-content/themes/responsive/fonts/isocpeur-webfont/isocpeur-webfont.ttf') format('truetype'),
         url('/wp-content/themes/responsive/fonts/isocpeur-webfont/isocpeur-webfont.svg#isocpeurregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('/wp-content/themes/responsive/fonts/bebas/bebas_neue_cyrillic-webfont.eot');
    src: url('/wp-content/themes/responsive/fonts/bebas/bebas_neue_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/responsive/fonts/bebas/bebas_neue_cyrillic-webfont.woff') format('woff'),
         url('/wp-content/themes/responsive/fonts/bebas/bebas_neue_cyrillic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 1em;
  font: inherit;
  margin: 0;
  padding: 0px;
  vertical-align: baseline;
  font-weight: 400;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  text-overflow: ellipsis;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'open_sansregular', sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
  font-size: 1.1em;
  margin-bottom: 2em;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-size: 100%;
  overflow: visible;
  margin: 0;
  vertical-align: baseline;
  width: auto;
}

textarea {
  overflow: auto;
  vertical-align: text-top;
}


/*::-webkit-scrollbar{
  position: relative;
  cursor: pointer;
}
::-webkit-scrollbar-track{
  background-color: #eeeeee;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  width: 15px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #7f8c8d;
}
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}*/

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  width: 100%;
}

hr.space {
  background: #fff;
  color: #fff;
}

/* =Base
-------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  color: #404040;
  font-size: 14px;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  line-height: 1.5em;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  background: white;
}

/* =Typography
-------------------------------------------------------------- */
p {
  word-wrap: break-word;
}

i,
em,
dfn,
cite {
  font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
  font-family: "liberation_monoregular", Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace !important;
  font-size: 0.9em;
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

del {
  color: #555;
  text-decoration: line-through;
}

ins,
dfn {
  border-bottom: 1px solid #ccc;
}

sup,
sub,
small {
  font-size: 85%;
}

abbr,
acronym {
  font-size: 85%;
  letter-spacing: .1em;
  text-transform: uppercase;
}

a abbr,
a acronym {
  border: none;
}

dfn[title],
abbr[title],
acronym[title] {
  border-bottom: 1px solid #ccc;
  cursor: help;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

/* =Responsive 12 Column Grid
    Grid was based on my Shell Theme released on 07/26/2011
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */
.grid {
  float: left;
  margin-bottom: 2.127659574468%;
  padding-top: 0;
}

.grid-right {
  float: right;
  margin-bottom: 2.127659574468%;
  padding-top: 0;
}

.col-300 {
  width: 374px;
}

.col-620 {
  width: calc(100% - 374px);
  width: -moz-calc(100% - 374px);
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
  max-width: 100%;
}

/* =Links
-------------------------------------------------------------- */
a {
  color: rgba(0, 112, 175, 1);
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  text-decoration: none;
  color: #f14a29;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* =Forms
-------------------------------------------------------------- */
label {
  display: inline-block;
  font-weight: 700;
  padding: 2px 0;
}

legend {
  padding: 2px 5px;
}

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.5em;
  padding: 1em 2em;
}

form div {
  clear: both;
}

select,
input[type="text"],
input[type="password"] {
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  background: #f4f4f4;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-bottom-color: #ccc;
  border-radius: 2px;
  margin: 0;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 100%;
}

select {
  height: auto;
  width: 70%;
}

area,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 #fff, inset 0 1px 1px rgba(0,0,0,0.2);
  background: #f4f4f4;
  box-sizing: border-box;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  height: auto;
  overflow: auto;
  margin: 0;
  outline: none;
  padding: 10px !important;
  width: 100%;
}

label[for='comment'] {
  display: none;
}

input,
select {
  cursor: pointer;
}

area:focus,
input:focus,
textarea:focus {
  background: #fff;
}

input[type='text'],
input[type='password'] {
  cursor: text;
}

/* =IE Forms (Modernizr)
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"],
.ie7 input[type="password"] {
  width: 96%;
}

/* =Buttons
-------------------------------------------------------------- */
button,
a.button,
input[type='reset'],
input[type='button'],
input[type='submit'],
.widget_wysija_cont .wysija-submit {
  display: block;
  margin-top: 10px;
  background: #3498db;
  border-bottom:2px solid #2980b9;
  border: none;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  width: 100%;
  text-align: center;
  border-radius: 0;
  font-family: "bebas_neue_cyrillicregular", Arial;
  height: 40px;
  line-height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
  padding-bottom: 30px;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button:hover,
a.button:hover,
input[type='reset']:hover,
input[type='button']:hover,
input[type='submit']:hover,
.widget_wysija_cont .wysija-submit:hover {
  display: block;
  background: rgba(0,106,149,1);
  border: none;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  width: 100%;
  text-align: center;
  border-radius: 0;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
  text-align: center;
}

.call-to-action a.button {
  font-size: 24px;
  padding: 15px 35px;
}

.call-to-action a.button:hover {
  text-decoration: none;
}

.ie7 .call-to-action a.button {
  padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
  font-size: 10px;
  padding: 3px 6px;
}

.medium a.button {
  font-size: 16px;
  padding: 8px 16px;
}

.large a.button {
  font-size: 18px;
  padding: 10px 35px;
}

.xlarge a.button {
  font-size: 24px;
  padding: 12px 55px;
}


/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin: 20px 0;
  padding: 15px;
  text-align: left;
}

.alert {
  background-color: #faebeb;
  border: 1px solid #dc7070;
  color: #212121;
}

.address {
  background-color: #f6f5ef;
  border: 1px solid #cdc9a5;
  color: #212121;
}

.notice {
  background-color: #fbf9e9;
  border: 1px solid #e3cf57;
  color: #212121;
}

.success {
  background-color: #f9fde8;
  border: 1px solid #a2bc13;
  color: #212121;
}

.download {
  background-color: #fff4e5;
  border: 1px solid #ff9912;
  color: #212121;
}

.information {
  background-color: #eef3f6;
  border: 1px solid #6ca6cd;
  color: #212121;
}

.required {
  color: #d5243f;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  color: #212121;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
}

.msie-box a {
  color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
th,
td,
table {
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: square;
}

ul ul ul {
  list-style-type: circle;
}

ol {
  line-height: 22px;
  list-style-position: outside;
  list-style-type: decimal;
}

dt {
  font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
  background: #f9f9f9;
  border: none;
  border-left: 4px solid #d6d6d6;
  margin: 20px;
  overflow: auto;
  padding: 0 0 10px 12px;
}

blockquote p {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
  line-height: 26px;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 700;
  line-height: 1em;
  word-wrap: break-word;
  font-family: "isocpeurregular";
}

h1 {
  color: #404040;
  font-size: 2em;
}

h2 {
  color: #777;
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p,
hr,
dl,
pre,
form,
table,
address,
blockquote {
  margin: 1.6em 0;
}

h1 {
  margin: 0.4em 0 .5em;
}

h2 {
  margin: 1.07em 0 .535em;
}

h3 {
  margin: 1.14em 0 .57em;
}

h4 {
  margin: 1.23em 0 .615em;
}

h5 {
  margin: 1.33em 0 .67em;
}

h6 {
  margin: 1.6em 0 .8em;
}

th, td {
  padding: .8em;
}

caption {
  padding-bottom: .8em;
}

blockquote {
  padding: 0 1em;
}

blockquote:first-child {
  margin: .8em 0;
}

fieldset {
  margin: 1.6em 0;
  padding: 0 1em 1em;
}

legend {
  padding-left: .8em;
  padding-right: .8em;
}

legend+* {
  margin-top: 1em;
}

input,
textarea {
  padding: .3em .4em .15em;
}

select {
  padding: .1em .2em 0;
}

option {
  padding: 0 .4em;
}

dt {
  margin-bottom: .4em;
  margin-top: .8em;
}

ul {
  margin-left: 1.8em;
}

ol {
  margin-left: 2.35em;
}

ol ol,
ul ol {
  margin-left: 2.5em;
}

form div {
  margin-bottom: .8em;
}

/* =Globals
-------------------------------------------------------------- */
#container {
  margin: 0 auto;
  max-width: 946px;
  padding: 0px;
}

#wrapper {
  background-color: #fff;
  clear: both;
  margin: 0;
  position: relative;
  padding: 2em 1em;
  position: relative;
  z-index: 0;
  margin-top: 2px;
}


#header {
  margin: 64px 0 0 0;
  height: 64px;
  position: relative;
  z-index: 1;
  overflow: visible;
  background-color: #3498db;
}

#footer {

}

#footer-wrapper {

}

/* =Header
-------------------------------------------------------------- */
#logo {
  margin: 0;
  margin-right: 1em;
}

#logo a{
  font-family: "bebas_neue_cyrillicregular";
  color: white;
  font-size: 96px;
  display: block;
  height: 100%;
  vertical-align: middle;
  line-height: 64px;
  margin-top: -64px;
  letter-spacing: 10px;
  text-align: center;
}

#logo a span{
  font-size: 40px;
  display: block;
  color: #3498db;
  letter-spacing: 22px;
}

#logo a span.stop{
  letter-spacing: 20px;
  padding-left: 4px;
}

#logo a span.dis{
  letter-spacing: 0px;
  margin-left: -7px;
}


.site-name {
  display: block;
  font-size: 2em;
  padding-top: 20px;
}

.site-name a {
  font-weight: 700;
}

.site-description {
  display: block;
  font-size: 14px;
  margin: 10px 33px 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
}

#content-full {
  margin-bottom: 20px;
}

#content-blog {
  margin-bottom: 20px;
}

#content-images {
  margin-bottom: 20px;
}

#content-archive {

}

#content-sitemap {
  margin-bottom: 20px;
}

#content-sitemap a {
  font-size: 12px;
}

#content .sticky {
  clear: both;
}

#content .sticky p {
}

/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu,
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .tinymenu,
.page-template-landing-page-php .footer-menu,
.page-template-landing-page-php .sub-header-menu {
  display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
  background: #f9f9f9;
  clear: both;
  display: block;
  margin: 20px 0;
  overflow: hidden;
}

#author-meta img {
  float: left;
  padding: 10px;
}

#author-meta p {
  margin-top: 5px;
  padding: 0 5px 0 0;
}

#author-meta .about-author {
  font-weight: 700;
  margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-color: #fff;
  border-radius: 6px;
  padding-bottom: 40px;
  width: 99.893617021277%;
}

#featured p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  padding: 0 40px 0 40px;
  text-align: center;
}

#featured-image {
  margin: 40px 0 0 0;
}

#featured-image .fluid-width-video-wrapper {
  margin-left: -20px;
}

.featured-image img {
  margin-top: 44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
  font-size: 12px;
}

#cancel-comment-reply-link {
  color: #900;
}

.post-data {
  font-size: 11px;
  clear: both;
}

.post-data a {
  color: #111;
}

.post-entry {
}

.morda .post-entry{
}

.morda{
 margin-right: 0;
}

.post-meta {
  clear: both;
  color: #9f9f9f;
  font-size: 13px;
  margin-bottom: 10px;
}

.post-edit {
  display: block;
  font-size: 12px;
  margin: 1.8em 0;
  position: absolute;
  bottom: 2em;
  right: 0em;
}

.post-edit a{
  display: inline-block;
  background-color: #e74c3c;
  border-radius: 3px;
  padding: 0 10px;
  color: white;
  line-height: 1.8em;
  height:1.8em;
}

.post-edit a:hover{
  background-color: #c0392b;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.post-search-terms {
  clear: both;
}

.attachment-entry {
  clear: both;
  text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
  display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
  color: #aaa;
  font-size: 18px;
  margin-left: 5px;
}

.form-allowed-tags {
  font-size: 10px;
}

/* =Catagory cards
-------------------------------------------------------------- */

.morda .wp_ya_share{
  display: none;
}

.category-card {
  padding-bottom: 0em;
  margin-bottom: 2em;
/*  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;*/
  padding: 0 1em;
  display: inline-block;
  width: 49.5%;
  vertical-align: top;

}




.category-card{
  font-size: 1.2em;
  margin-bottom: 0.5em;
  position: relative;
  margin-bottom: 1em;
}


.category-card strong{
  font-family: "bebas_neue_cyrillicregular", Arial;
  display: block;
  line-height: 3em;
  height: 3em;
  width: 100%;
  border: none;
  border-left-width: 8px;
  border-left-style:solid;
  padding: 0;
  padding-left: 1em;
  box-shadow: 0 -2px #e6e6e6 inset;
  background-color: #ecf0f1;
}

.category-card strong a{
  font-size: 1.5em;
  color: inherit;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}

.category-card.javascript-category-card strong {color:#2980b9; border-left-color:#3498db;}
.category-card.css-category-card        strong {color:#f39c12; border-left-color:#f1c40f;}
.category-card.mobile-category-card        strong {color:#16a085; border-left-color:#1abc9c;}
.category-card.tips-category-card        strong {color:#9b59b6; border-left-color:#9b59b6;}

.category-card ul{
  margin: 0;
  list-style: outside;
  list-style-type:none;
  font-size: 1em;
}

.category-card ul li {
  max-height: 4.5em;
  overflow: hidden;
  padding: 0.6em 0 0 8px;
  position: relative;
  margin: 0 0 0.5em 0;
  line-height: 0.9;
  box-shadow: 0 2px #ecf0f1  inset;
}

.category-card ul li:nth-child(2n){

}

.category-card ul li:first-child {
  border-top-width: 0px;
  margin-top: 0.1em;
  box-shadow: 0 0 0 ;
}

/*.category-card ul li:after {
  width: 100%;
  height: 2px;
  background-color: red;
  bottom: 4.4em;
  left: 0;
  content: '';
  position: absolute;

}*/

.category-card ul li a {
  font-size: 0.9em;
  line-height: 1.4;
  max-height: 100%;
  color: #535353;
  height: 100%;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

.category-card ul li a:hover {
  color: #FF6600;
}

.category-card a.thumbnail_container{
  font-size: inherit;
  display: block;
}

.category-card img {
  float: left;
  margin-right: 1.2em;
  height: 4em;
  width: auto;
  background-color: #ecf0f1;
  border-width: 0;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
  border-left-width: 5px;
  border-left-style:solid;
  padding-left: 1.2em;
  padding-bottom: 0em;
  margin-bottom: 2em;
  margin-left: 1em;
}

.widget-wrapper:nth-child(10n-9){                  border-left-color:#2ecc71;}
.widget-wrapper:nth-child(10n-9) .widget-title{                color:#239d57;}

.widget-wrapper:nth-child(10n-8){                  border-left-color:#26a6d5;}
.widget-wrapper:nth-child(10n-8) .widget-title{                color:#26a6d5;}

.widget-wrapper:nth-child(10n-7){                  border-left-color:#9b59b6;}
.widget-wrapper:nth-child(10n-7) .widget-title{                color:#8e44ad;}

.widget-wrapper:nth-child(10n-6){                  border-left-color:#f1c40f;}
.widget-wrapper:nth-child(10n-6) .widget-title{                color:#d35400;}

.widget-wrapper:nth-child(10n-5){                  border-left-color:#34495e;}
.widget-wrapper:nth-child(10n-5) .widget-title{                color:#2c3e50;}


.widget-title{
  font-size: 1.5em;
  font-family: "bebas_neue_cyrillicregular", Arial;
  margin-bottom: 0.5em;
}

#widgets {

  margin-bottom: 1em;
}

#widgets a {
  color: #636363;
  display: block;
}

#widgets a:hover {
  color: #FF6600;
}

#widgets ul{
  margin: 0;
  list-style: outside;
  list-style-type:none;
  font-size: 1em;
}

#widgets ul li {
  max-height: 4em;
  overflow: hidden;
  margin: 1em 0;
}

#widgets ul li a {
  font-size: 0.9em;
  line-height: 1.4;
  width: 100%;
  max-height: 100%;
  height: 100%;;
}

#widgets a.thumbnail_container{
  font-size: inherit;
  display: block;
}

#widgets img {
  float: left;
  margin-right: 1.2em;
  height: 4em;
  width: auto;
  background-color: #ecf0f1;
  border-width: 0;
}


.widget_recent_entries li{
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 1em;
  box-sizing:content-box;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
  font-size:  60px;
  letter-spacing: -1px;
  margin:  0;
  padding-top: 40px;
  text-align: center;
}

.featured-subtitle {
  padding: 0 10px;
  text-align: center;
}

.widget-title,
.widget-title-home h3 {

}

.top-widget .widget-title {
    font-size: 14px;
    padding: 0;
    text-align: right;
}

.widget-title a {
  border-bottom: none;
  padding: 0 !important;
}

.title-404 {
  color: #933;
}

/* =404 Page
-------------------------------------------------------------- */
.error404 select,
.error404 input[type="text"],
.error404 input[type="password"] {
    width: auto;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
  height: 64px;
  line-height: 64px;
  font-size: 1em;
  margin-left: 1.8em;
}

.top-menu li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0.1em;
}

.top-menu li a {
  color: #C0C0C0;
  font-size: 1.5em;
  font-family: "bebas_neue_cyrillicregular", Arial;
  vertical-align: middle;
  padding: 0.3em 0.6em;
  height: 1.8em;
}

.top-menu li.current-menu-item a{
  background-color: #ff8f2c;
  color: white;
  box-shadow: 0 2px #f57300 inset;
  vertical-align: middle;
  text-shadow:1px 1px 1px #f57300;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.top-menu li a:hover {
  box-shadow: 0 -2px #f57300 inset;
  color: white;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/* =Primary Menu
-------------------------------------------------------------- */
.menu {
  background-color: rgba(14,145,195,1);
  clear: both;
  margin: 0 auto;
  display: none;
}

.menu,
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.menu li.current-menu-item{
  background: rgba(85, 184, 234, 1);
}

.menu li:hover {
  white-space: normal;
  z-index: 10000;
}

.menu li li {
  float: none;
}

.menu ul {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.menu li:hover > ul {
  top: 100%;
  visibility: visible;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu:after,
.menu ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.menu,
.menu ul {
  min-height: 0;
}

.menu ul {
  margin: -10px 0 0 -30px;
  padding: 10px 30px 30px;
}

.menu ul ul {
  margin: -30px 0 0 -10px;
  padding: 30px 30px 30px 10px;
}

.menu ul li a:hover,
.menu li li a:hover {
  color: #484848;
  text-decoration: none;
}

.menu ul {
  min-width: 15em;
  width: auto;
}

.menu a {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.menu a:hover {

}

.menu .current_page_item a {
  background-color: #343434;
}

.home .menu .current_page_item a {
    background: none;
  background-color: transparent;
    background-image: none;
    filter: none;
}

.menu li li {
  background: #fff;
  background-image: none;
  border: 1px solid #b2b2b2;
  border-top: none;
  color: #444;
  filter: none;
  width: auto;
}

.menu li li a {
  background: transparent !important;
  border: none;
  color: #444;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.menu li li a:hover {
  background: #f5f5f5 !important;
  background-image: none;
  border: none;
  color: #444;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.menu ul > li + li {
  border-top: 0;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu > li:first-child > a {
  border-left: none;
}

/* =Primary Main Menu IE Fixes (Modernizr)
-------------------------------------------------------------- */
.ie7 .menu ul {
  background: url(images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a  {
    min-width: 100%;
}

/* =Responsive Menu
-------------------------------------------------------------- */
.tinynav {
    display: none
}

/* =Sub Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
  background-color: #fff;
  border-top: none;
  clear: both;
  margin: 0 auto;
}

.sub-header-menu,
.sub-header-menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-header-menu li {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.sub-header-menu li:hover {
  white-space: normal;
  z-index: 10000;
}

.sub-header-menu li li {
  float: none;
}

.sub-header-menu ul {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.sub-header-menu li:hover > ul {
  top: 100%;
  visibility: visible;
}

.sub-header-menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.sub-header-menu:after,
.sub-header-menu ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.sub-header-menu,
.sub-header-menu ul {
  min-height: 0;
}

.sub-header-menu ul {
  margin: -10px 0 0 -30px;
  padding: 10px 30px 30px;
}

.sub-header-menu ul ul {
  margin: -30px 0 0 -10px;
  padding: 30px 30px 30px 10px;
}

.sub-header-menu ul li a:hover,
.sub-header-menu li li a:hover {
  color: #484848;
  text-decoration: none;
}

.sub-header-menu ul {
  width: 14em;
}

.sub-header-menu a {
  border-left: 1px solid #e2e2e2;
  color: #333;
    cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;
  position: relative;
  text-decoration: none;
  text-shadow: none;
}

.sub-header-menu a:hover {
  background-color: #f9f9f9;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.sub-header-menu .current_page_item a {
  background-color: #f9f9f9;
}

.sub-header-menu li li {
  background: #fff;
  background-image: none;
  border-top: none;
  color: #444;
  filter: none;
  width: auto;
}

.sub-header-menu li li a {
  border: none;
  color: #444;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-shadow: none;
}

.sub-header-menu li li a:hover {
  background: #f9f9f9;
  background-image: none;
  border: none;
  color: #444;
  filter: none;
}

.sub-header-menu ul > li + li {
  border-top: 0;
}

.sub-header-menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.sub-header-menu > li:first-child > a {
  border-left: none;
}

.sub-header-menu ul.children a,
.sub-header-menu .current_page_ancestor,
.sub-header-menu .current_page_ancestor ul a {
  background: none;
  background-image: none;
  filter: none;
}

/* =Sub Header Menu IE Fixes (Modernizr)
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
  background: url(images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a  {
    min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
  margin-left: 0;
}

.footer-menu li {
  display: inline;
  list-style-type: none;
}

.footer-menu li a {
  border-left: 1px solid #ccc;
  color: #333;
  padding: 0 8px;
}

.footer-menu > li:first-child > a {
  border-left: none;
  padding: 0 8px 0 0;
}

.footer-menu li a:hover {
  color: #333;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
  color: #111;
  display: block;
  line-height: 28px;
  margin: 20px 0;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
}

.navigation .previous,
.navigation .next{
  vertical-align: middle;
}

.navigation a {
  color: #aaa;
  display: inline-block;
  background-color: #2980b9;
  color: white;
  margin: 2px;
  font-size: 1em;
  padding: 0 1em;
}

.navigation a:hover {
  color: #ffffff;
  text-decoration: none;
}

.navigation .previous {
  display: inline-block;
}

.navigation .next {
  display: inline-block;
}

.navigation .bracket {
  font-size: 36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
  clear: both;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  padding: 5px 0;
}

.pagination a {
  text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
  font-size: 12px;
  padding: 40px 0 0 0;
}

/* =Comments
-------------------------------------------------------------- */
.comment.parent{
  /*border-top: 1px solid rgba(0,0,0,0.3);*/
}

#commentform {
  margin: 0;
}

.commentlist {
  border-bottom: 1px dotted #eee;
  list-style: none;
  margin: 0;
  padding: 0px;
}

.commentlist ol {
  list-style:decimal;
}

.commentlist li.comment {
  background-color: rgba(0,0,0,0.01);
  margin: 10px 0;
  padding: 16px;
  border-left: 5px solid rgb(14, 145, 195);
}

.commentlist .bypostauthor {}

.commentlist li cite {
  color: #111;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
}

.commentlist li.alt {
  /*background: #f9f9f9;*/
}

.commentlist .children {
  list-style: none;
  margin-left: 20px;
  padding: 0px;
}

.commentlist .avatar {
  float: left;
  margin-right: 10px;
  padding: 0;
  vertical-align: middle;
  width: 44px;
}

.comment-author .fn {
}

.comment-author .says {
  color: #999;
}

.comment-body .comment-meta {
  color: #999;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.comment-body .comment-meta a {
  font-size: 11px;
}

.comment-body {
  clear: both;
}

.comment-body p {
  clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
  list-style: none;
  margin: 20px 0;
}

.pingback cite,
.trackback cite {
  font-style: normal;
}

#pings,
#comments {
  text-align: left;
}

#respond {
  background-color: rgb(250, 250, 250);
  clear: both;
  margin-top: 15px;
  padding: 10px 20px;
  border-top: 5px solid rgb(14, 145, 195);
}

#respond label {
  display: inline;
}

.reply {
  margin: 10px 0;
}

.comment-form-url input,
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
  display: block;
}

.nocomments {
  color: #999;
  font-size: .9em;
  text-align: center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

/*a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}*/

a img.alignnone {
  display: inline-block;
}

/*a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}*/

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 1.5em;
  margin: 0;
  padding: 0 4px 5px;
}

img.wp-smiley {
  vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
  margin: 0 auto 18px;
}

.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  max-width: 155px;
}

.gallery img {
  border: 1px solid #ddd;
}

.gallery .gallery-caption {
  font-size: 12px;
  margin: 0 0 12px;
}

.gallery dl {
  margin: 0;
}

.gallery br+br {
  display: none;
}

.attachment-gallery img {
  background: #fff;
  border: 1px solid #f0f0f0;
  display: block;
  height: auto;
  margin: 15px auto;
  max-width: 96%;
  padding: 5px;
  width: auto;
}

.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
  display: block;
}

/* =Post Thumbnails
-------------------------------------------------------------- */
/*img.wp-post-image,
img.attachment-full,
img.attachment-large,
img.attachment-medium,
img.attachment-thumbnail {
  display: block;
  margin: 15px auto;
  width: auto;
}*/

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
  padding: 40px 0 0 0;
}

#breadcrumb a {
  color: #06c;
  font-size: 12px;
  font-weight: 400;
}

#breadcrumb a:hover {
  color: #444;
  text-decoration: none;
}

#content-woocommerce {
  margin-bottom: 20px;
}

.products ul, ul.products {
  margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
  width: 100%;
}

table.shop_table {}

table.cart td.actions .coupon .input-text,
table.cart td.actions .coupon .input-text {
  cursor: text;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
  color: #333;
  font-size: 11px;
  line-height: 36px;
  height: 36px;
  position: fixed;
  bottom: 0;
  background-color: #3498db;
  width: 100%;
/*  border-top:2px solid #2980b9;*/
}

#footer a {
  color: white;
  font-weight: 400;
}

#footer a:hover {
}

#footer-wrapper .grid.col-940 {
  margin: 0;
}

.scroll-top {
  text-align: center;
}

.copyright {
  text-align: left;
  margin-left: 8px;
  color: white;
}

.powered {
  text-align: right;
}

/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
  list-style: none;
  line-height: normal;
  margin: 0;
  text-align: right;
}


#footer .yelp-icon,
#footer .vimeo-icon,
#footer .youtube-icon,
#footer .twitter-icon,
#footer .facebook-icon,
#footer .linkedin-icon,
#footer .rss-feed-icon,
#footer .instagram-icon,
#footer .pinterest-icon,
#footer .foursquare-icon,
#footer .google-plus-icon,
#footer .stumble-upon-icon {
  display: inline;
  margin: 1px;
  padding-left: 3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
#container:after,
.widget-wrapper:after {
  clear: both;
  content: '\0020';
  display: block;
  height: 0;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix,
#container,
.widget-wrapper {
  display: inline-block;
}

*html .clearfix,
*html #container,
*html .widget-wrapper {
  height: 1%;
}

.clearfix,
#container,
.widget-wrapper {
  display: block;
}

.clear {
  clear: both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

[DIR="ltr"] {
   direction: ltr;
   unicode-bidi: embed;
}

[DIR="rtl"] {
   direction: rtl;
   unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
  media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

  h1 {
    page-break-before: always;
  }

  h1,  h2,  h3,  h4,  h5,  h6 {
    page-break-after: avoid;
  }

  ul,  ol,  dl {
    page-break-before: avoid;
  };
}




#container{
  max-width: 1000px;
  min-width: 300px;
}

p {
  font-size:1.2em;
  line-height:1.6;
  margin: 0.2em 0;
  text-align: left;
}

.tag{
  color: inherit !important;
}

/*.content-archive p{
  font-size:1em;
}*/


#content-archive{
  padding: 0 1em;
}

.category .post,
.single-post .post{
}

.single-format-standard #content{
  padding: 1.3em;
}


#logo{
  text-align: center;
  position:relative;
  opacity: 1;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
}

#logo img{
  height: 80px;
  width: auto;
}


#widgets .tagcloud{
  text-align: justify;
}

#widgets .tagcloud a{
  display: inline;
}



/**/

blockquote {
  background: 0;
  border: none;
  margin: 1em 0 0 1em;
  padding:0 1em;
  overflow: auto;
  font-size:inherit;
  font-family:inherit;
  font-style:inherit;
  line-height:inherit;
}

blockquote p{
  font-size:inherit;
  font-family:inherit;
  font-style:inherit;
  line-height:inherit;
}

h1,h2,h3,h4,
.archive-post-title{
/*  font-family: "open_sanssemibold";*/
  line-height: 1.2;
  margin: 0;
  color:rgba(0, 112, 175, 1);
  clear: both;
  font-family:"isocpeurregular", Arial;
  font-weight: normal;
  padding: 0;
  vertical-align: top;
}

h1{
  margin-top: 0.36em;
  font-size: 2.8em;
  margin-bottom: 1em;
}

h2{
  margin: 1.2em 0;
  font-size: 2.4em;
}

.archive-post-title h2{
  display: inline;
  font-size: 2em;
}

.archive-post-title p{
  color: #444444;
  font-family: "open_sansregular";
}

h3{
  font-size: 1.8em;
  margin: 1.2em 0;
  letter-spacing: 0px;
}

/******************************* demo ***************************/


#wrapper a.demo{
  width:100%;
  display:block;
  margin:0;
  padding:0;
  color:#666666;
  text-align:right;
  padding-right:4em;
  font-size:12px;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#wrapper a.demo:hover{
  text-decoration:underline;
  color:#f57300;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}




#wrapper iframe.demoiframe{
  width:100%;
  display:block;
  margin:0;
  padding:0;
}

h4{
  margin: 20px 0 0 0;
  background-color: #4E4E4E;
  display: block;
  padding: 8px 20px;
  z-index: 0;
  font-size: 1em;
  clear:both;
  color:white;
  text-align: right;
}

pre code, .demoiframewrapper{
  background-color: #ecf0f1;
  border-radius:0;
  z-index: 1;
  position: relative;
  margin: 0 0 1.4em 0;
  padding: 0;
  font-size: 0.7em;
}

h3 code{
  background: #3498db;
  color: white;
}

pre{
  border:none !important;
  background:none;
  box-shadow:none;
  border-radius:0px;
  padding:0;
  margin:0;
  z-index: 1;
  position: relative;
  white-space:pre-wrap;
  font-weight:normal;

}

pre.prettyprint{
  padding: 0 !important;
}

code{
  border: none;
  background-color: rgb(255, 255, 231);
  padding: 3px 6px 2px 6px;
  border-radius: 4px;
  color: #00588A;
  margin: 0 3px;
  vertical-align: baseline;
}

pre code,
.demoiframewrapper{
  display:block;
  padding: 10px;
  height:auto;
  font-size: 1em;
}

/******************************* image ***************************/

.wysija-p-email{
  margin:10px 0;
  position:relative;
}

.wysija-p-email input{
  border-radius: 0;
  border: none;
  height: 40px;
  font-size: 20px;
  font-family: "bebas_neue_cyrillicregular", Arial;
/*  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1) inset;*/
}

.formError{
  top: -2.6em !important;
  left: 0em !important;
  width: 100%;
  opacity: 1 !important;
}

.formError .formErrorContent{
  width: 100%;
  border: none;
  background: #e74c3c;
}



/*============================*/


.read-more {
  display: none;
}

.type-post{
  position: relative;
  clear: both;
  padding: 1.2em 0;
}

.post-data{
  color: transparent;
  margin: 0;
  text-align: right;
  line-height: 24px;
  clear: both;
  z-index: 5;
  position: relative;
  text-align: right;
  padding: 0em 0;
}

.post-data-dope{
  display: inline-block;
  background-color: white;
  padding-left: 2px;
}

.post-data a{

  height:20px;
  line-height:20px;
  position:relative;
  font-size:11px;
}

.post-data a{
    display: inline-block;
    margin-left:12px;
    padding:0 8px 0 10px;
    background:#ecf0f1;
    color:#B9B9B9;
    text-decoration:none;
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
    -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

.post-data a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-10px;
  width:0;
  height:0;
  border-color:transparent #ecf0f1 transparent transparent;
  border-style:solid;
  border-width:10px 10px 10px 0;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.post-data a:after{
  content:"";
  position:absolute;
  top:8px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.post-data a:hover{
  background:#555;
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.post-data a:hover:before{
  -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  border-color:transparent #555 transparent transparent;
}





.post-expert-thumb{
  display: block;
  float: left;
  padding-right: 1.6em;
}

.post-expert-thumb img{
  display: block;
  width: 8em;
  height: auto;
  margin: 0.8em 0 0 0;
}

#responsive_current_menu_item{
  display: none;
}




.Google.Ads.Master{
  display:inline-block;
}


.Google.Ads.Master .widget-title{
  display: none;
}


.likes{
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 8px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  vertical-align: top;
}

.like,
.fb_iframe_widget{
  display: inline-block;
  height: 22px;
  line-height: 22px;
  vertical-align: top;
}























/*  Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media
    only screen and (-moz-min-device-pixel-ratio:1.5),
    only screen and (-o-min-device-pixel-ratio:3/2),
    only screen and (-webkit-min-device-pixel-ratio:1.5),
    only screen and (min-device-pixel-ratio:1.5) {

  body {
  };
}

/* =Responsive (Mobile) Design
-------------------------------------------------------------- */
@media screen and (max-width: 1100px) {

  body {
  }

  .col-620{
    width: 100%;
  }

  .col-300{
    width: 100%;
  }

  #wrapper{
    font-size: 13px;
    padding: 2em 1em;
  }

  #wrapper h1{
    font-size: 2.8em;
  }

  .post-entry img.alignleft,
  .post-entry img.alignrignt{
    max-width: 300px;
  }

  .grid,
  .grid-right {
  }

  #featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
  }

  .home #widgets {
    margin-top: 40px;
    border-left: none;
  }

  .top-widget,
    .home .top-widget {
    margin-top: 0 !important;
  }

  pre code {
  };
}

@media screen and (max-width: 782px) {

  body {
  }

  .category-card {
    padding: 0 0.5em;
  }


  .col-620{
    width: 100%;
  }

  .col-300{
    width: 100%;
  }


  #wrapper{
    font-size: 12px;
    padding: 1em;
  }

  #wrapper h1{
    font-size: 2.4em;
  }

  .post-entry img.alignleft,
  .post-entry img.alignrignt{
    max-width: 120px;
  }



  .grid,
  .grid-right {
    float: none;
  }

  #featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
  }

  .top-widget {
    float: none;
    margin: 0 auto 10px auto;
    position: relative;
    text-align: center;
    width: auto;
  }

  .top-widget .widget-title {
    text-align: center;
  }

  .js .menu,
  .js .sub-header-menu {
    display: none;
  }

  #logo {
    padding: 0;
  }

  #logo img {
    height: 50px;
    width: auto;
  }

  #header{
    height: 56px;
  }

  .top-menu{
    font-size: 0.7em;
    height: 56px;
    line-height: 45px;
    margin-left: 1em;
  }


  .tinynav {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .tinynav {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background: #fff url(images/bg-select.png) no-repeat right;
    border: 1px solid #ccc;
    font-size: 12px;
    overflow: hidden;
    padding: 0.5em 1em 0.5em 0.75em;
  }

  .ie7 .tinynav,
  .ie8 .tinynav {
    padding-right: 10px;
  }

  .ie9 .tinynav {
    padding-right: 8px;
  }

  #footer {
    text-align: center;
  }

  #footer .social-icons {
    text-align: center;
  };
}

@media screen and (max-width: 500px) {

  body {
  }

  .category-card {
    margin: 1em 0 0 0;
    width: 100%;
  }

  .post-data{
    display: none;
  }

  .col-620{
    width: 100%;
  }

  .col-300{
    width: 100%;
  }

  #wrapper{
    font-size: 11px;
    padding: 1em;
  }

  #wrapper h1{
    font-size: 1.8em;
  }

  .post-entry img.alignleft,
  .post-entry img.alignrignt{
    max-width: 100px;
  }

  #logo {
    display: none;
  }

  .grid,
  .grid-right {
    float: none;
  }

  #featured-image .fluid-width-video-wrapper {
    margin: 20px 0 0 0;
  }

  .featured-title {
    font-size: 40px;
    padding: 40px 20px 0 20px;
  }

  .navigation .next,
    .navigation .previous {
    text-align: center;
  }

  .menu ul,
  .menu li{
    float: none;
    text-align: center;
  }

  #header{
    height: 56px;
  }

  .top-menu{
    font-size: 0.7em;
    height: 56px;
    line-height: 45px;
    margin-left: 1em;
  }

  .copyright,
  .scroll-top {
    display: none;
  }

  .likes{
    text-align: center;
  }

  .category .post::after, .tag .post::after {
    display: none;
  }
}

.category .post::after,
.tag .post::after {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 2px;
  width: 100%;
  z-index: 1;
  content: '';
  background-color: rgb(238, 238, 238);
}
he {
  font-weight: 700;
}